<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ch3">
        <service
            android:name=".test5.MyMessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_SERVICE_MESSENGER" />
            </intent-filter>
        </service>
        <service
            android:name=".test5.MyAIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_SERVICE_AIDL" />
            </intent-filter>
        </service>

        <activity
            android:name=".test5.Example5Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".test4.MyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".test4.Example4Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".test3.MyService3"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".test3.Example3Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".test2.MyService2"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".test2.Example2Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test1.SubActivity"
            android:exported="false" />

        <service
            android:name=".test1.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".test1.Example1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>